<section class="section search" id="search-section">
  <div class="container">
    <div class="field">
      <div class="control has-icons-right">
        <input class="input is-large is-static" type="text" id="search-input" placeholder="Search">
        <span class="icon is-medium is-right search-hide">
          <i class="fas fa-times fa-lg"></i>
        </span>
      </div>
    </div>
    <p id="search-destructions">Type to search or ESC to close</p>
    <ul id="results-container"></ul>
  </div>
</section>
